################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/简单工厂模型/out/build/x64-Debug (默认值)
/工厂模型/out/build/x64-Debug (默认值)
/抽象工厂模型/out/build/x64-Debug (默认值)
/建造者模式/out/build/x64-Debug (默认值)
/原型模式/out/build/x64-Debug (默认值)
/单例模式/out/build/x64-Debug (默认值)
